[package]
name = "playit-cli"
version.workspace = true
edition = "2024"
authors = ["Patrick Lorio <patrick@playit.gg>"]
description = "Making it easy to play games with friends. Makes your server public"
repository = "https://github.com/playit-cloud/playit-agent"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { workspace = true }
tokio-util = { workspace = true }
rand = { workspace = true }
hex = { workspace = true }
toml = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
tracing-appender = { workspace = true }

uuid = { workspace = true }
dirs = { workspace = true }

chrono = "0.4"
clap = { version = "4.5", features = ["derive"] }
urlencoding = "2.1"
serde_yaml = "0.9"
crossterm = "0.28"
ratatui = "0.29"
dotenv = "0.15.0"

# Service management and IPC
service-manager = "0.10"
interprocess = { version = "2.2", features = ["tokio"] }

playit-agent-core = { path = "../agent_core", version = "0.17.1" }
playit-agent-proto = { path = "../agent_proto", version = "1.3.0" }
playit-api-client = { path = "../api_client", version = "0.2.0" }
# playit-ping-monitor = { path = "../ping_monitor" }

[target.'cfg(unix)'.dependencies]
libc = "0.2"

[target.'cfg(windows)'.dependencies]
whoami = "1.5"

[target.'cfg(windows)'.build-dependencies]
winres = "0.1"
