[package]
name = "playit-cli"
version.workspace = true
edition = "2024"
authors = ["Patrick Lorio <patrick@playit.gg>"]
description = "Making it easy to play games with friends. Makes your server public"
repository = "https://github.com/playit-cloud/playit-agent"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { workspace = true }
tokio-util = { workspace = true }
rand = { workspace = true }
hex = { workspace = true }
toml = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
tracing-appender = { workspace = true }
futures-util = { workspace = true }

uuid = { workspace = true }
dirs = { workspace = true }

clap = { version = "4.5", features = ["derive"] }
urlencoding = "2.1"
serde_yaml = "0.9"
crossterm = "0.28"
dotenv = "0.15.0"
tipsy = "0.6.2"
service-manager = "0.8.0"

playit-agent-core = { path = "../agent_core" }
playit-agent-proto = { path = "../agent_proto" }
playit-api-client = { path = "../api_client" }

[target.'cfg(windows)'.build-dependencies]
winres = "0.1"
