[package]
name = "agent"
version = "0.9.2"
edition = "2021"
description = "using playit.gg makes it possible to host game servers at home without port forwarding"
homepage = "https://playit.gg"
repository = "https://github.com/playit-cloud/playit-agent"

[dependencies]
tokio = { version = "1.12", features = ["full"] }
tracing = "0.1"
tracing-subscriber = "0.3.8"
playit-agent-core = { path = "../agent_core" }
playit-agent-common = { path = "../agent_common", features = ["use-hmac"] }
rand = "0.8.5"
tui = "0.19.0"
crossterm = "0.25.0"
webbrowser = { git = "https://github.com/playit-cloud/webbrowser-rs", rev = "820f661c2d0afe87ca838546beef4ff9b8b1a10b", features = ["suppress-logs"] }
clap = { version = "3.2.16", features = ["derive"] }

[build-dependencies]
embed-resource = "1.6"

[package.metadata.deb]
copyright = "Developed Methods LLC 2022"
maintainer = "Patrick Lorio <patrick@playit.gg>"
