[Unit]
Description=Playit Agent
Documentation=https://playit.gg
Wants=network-pre.target
After=network-pre.target NetworkManager.service systemd-resolved.service

[Service]
User=playit
Group=playit
RuntimeDirectory=playit
RuntimeDirectoryMode=0750
LogsDirectory=playit
LogsDirectoryMode=0750
UMask=0007
ExecStart=/opt/playit/playitd --secret-path /etc/playit/playit.toml --socket-path /run/playit/playitd.sock -l /var/log/playit/playit.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
